
/* ==========================================================================
   Custom styles
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

body {
    font-family: 'Raleway', sans-serif;
    padding-bottom: 20px;
}

.jumbotron {
 text-align: center;
}















