
/* ==========================================================================
   Custom styles
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

body {
    font-family: 'Raleway', sans-serif;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-color: #C4D9BF;

}

.jumbotron {

    color: white;
    background: white;
    background-image: url("matrix.png") ; 
    background-repeat: no-repeat;
    background-size: cover;
    
}

.modal-header {
    background-color:black;
    color: white;
}

.modal-footer {
    background-color: black; 
}

button {
    background-color: #62BF49;
    color: black;
}

.jumbotron p, h1 {
    text-align: center;

}

#description{
    line-height: 1.5;
    font-size: 18px;
    
}


footer  {

    font-size: 20px;
    font-weight: 700;

}

@media (max-width: 360px)  { 

    label {
        display:none;
    }

}