
/* ==========================================================================
   Custom styles
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

body {
    font-family: 'Raleway', sans-serif;
    padding-bottom: 20px;
}

.jumbotron p, h1 {
    text-align: center;

}


@media (max-width: 360px)  { 

    label {
        display:none;
    }

}














